@media (min-width: 992px) {
  .flex-row-categories {
    display: flex;
    flex-direction: column; 
  }
}

@media (max-width: 875px) {
  .categories-padding {
    margin: 0px;
  }
}

@media (max-width: 555px) {
  .post-column {
    display: flex;
    justify-content: center;
  }
}

.bolder {
  font-weight: bolder;
}