.box {
  padding-top: 230px;
}
.postbox {
  padding: 150px;
  margin-top: auto;
  margin-bottom: auto;
  color: Black;
  background-image: url("https://images.pexels.com/photos/1166643/pexels-photo-1166643.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.postbox2 {
  background-color: rgba(0, 0, 0, 0.205) !important;
  padding: 10px;
  margin-left: 1%;
}
.jumb {
  background-color: rgb(231, 229, 229);
  margin-left: 10%;
  margin-right: 10%;
}

.categoriesConteiner {
  background-color: rgba(0, 0, 0, 0.205) !important;
  padding: 20px;
}
.test3 {
  background-image: url(https://images.pexels.com/photos/3944406/pexels-photo-3944406.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%; */
}
.box1 {
  padding-top: 50px;
  padding-bottom: 50px;
  /* margin-left: 10%; */
}
.box2 {
  padding-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(0, 0, 0, 0.151) !important;
}
.profContainer {
  background-image: url(https://images.pexels.com/photos/4397907/pexels-photo-4397907.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loginpic {
  padding-top: 100px;
  padding-bottom: 100px;
}
.signuppic {
  padding-top: 100px;
  padding-bottom: 100px;
}
.text-lg {
  font-size: 20px;
}
.footertest {
  background-color: rgb(231, 229, 229);
}
.icons ul a {
  justify-content: space-between;
}
.uploadBTN {
  padding: 75rem;
}
/* overlay for gallery */
#gallery-card {
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.divHolder {
  position: relative;
}

.modal-card {
  /* display: none; */
  position: absolute;
  width: 45%;
  top: 15%;
  left: 50%;
  height: 85%;
  background-color: #f8f9fa;
  z-index: 101;
  transform: translate(-50%, -10%);
  -ms-transform: translate(-50%, -10%);
}

.visual video,
.visual img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid black;
}

.modal-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
}

.modal-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .modal-card {
    width: 100%;
    height: 100%;
  }
}
